In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("combine.csv", sep=";")

In [6]:
df.head()

,Année,Numéro,Département,Code INSEE,Nom de la commune,Date de première alerte,Origine de l'alerte,Moyens de première intervention,Surface parcourue (m2),Surface forêt (m2),...,Décès ou bâtiments touchés,Nombre de décès,Nombre de bâtiments totalement détruits,Nombre de bâtiments partiellement détruits,Hygrométrie (%),Vitesse moyenne du vent (Km/h),Direction du vent,Température (°C),Précision de la donnée,Présence d'un contour valide
0,2006,2,01,01148,Dortan,27/02/2006 13:56,Indéterminé,NaN,10000,0.0,...,Non,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,"
1,2006,3,01,01321,Revonnas,15/03/2006 16:02,Indéterminé,NaN,10000,0.0,...,Non,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,"
2,2006,4,01,01032,Béligneux,16/03/2006 17:03,Indéterminé,NaN,10000,0.0,...,Non,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,"
3,2006,5,01,01109,Collonges,27/03/2006 14:30,Indéterminé,NaN,10000,0.0,...,Non,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,"
4,2006,6,01,01384,Saint-Rambert-en-Bugey,24/04/2006 16:43,Indéterminé,NaN,20000,0.0,...,Non,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,"

In [7]:
df.axes

[RangeIndex(start=0, stop=46145, step=1),
 Index(['Année', 'Numéro', 'Département', 'Code INSEE', 'Nom de la commune',
        'Date de première alerte', 'Origine de l'alerte',
        'Moyens de première intervention', 'Surface parcourue (m2)',
        'Surface forêt (m2)', 'Surface maquis garrigues (m2)',
        'Autres surfaces naturelles hors forêt (m2)', 'Surfaces agricoles (m2)',
        'Autres surfaces (m2)', 'Surface autres terres boisées (m2)',
        'Surfaces non boisées naturelles (m2)',
        'Surfaces non boisées artificialisées (m2)',
        'Surfaces non boisées (m2)', 'Précision des surfaces',
        'Surface de feu à l'arrivée des secours > 0,1 ha',
        'Voie carrossable la plus proche',
        'Activité ou habitation la plus proche', 'Type de peuplement',
        'Connaissance', 'Source de l'enquête', 'Nature',
        'Intervention de l'équipe RCCI', 'Décès ou bâtiments touchés',
        'Nombre de décès', 'Nombre de bâtiments totalement détruits',
        'Nombre de bâtiments partiellement détruits', 'Hygrométrie (%)',
        'Vitesse moyenne du vent (Km/h)', 'Direction du vent',
        'Température (°C)', 'Précision de la donnée',
        'Présence d'un contour valide'],
       dtype='object')]

In [8]:
df.index

RangeIndex(start=0, stop=46145, step=1)

In [9]:
df.size

1707365

In [10]:
df['Numéro'].nunique()

16303

In [14]:
#for i in df.axes[1] :
 #   print(i," = ",df[i].nunique())
df.nunique() #fait littéralement la même chose

Année  =  17
Numéro  =  16303
Département  =  103
Code INSEE  =  9287
Nom de la commune  =  8926
Date de première alerte  =  44935
Origine de l'alerte  =  7
Moyens de première intervention  =  6
Surface parcourue (m2)  =  4167
Surface forêt (m2)  =  1802
Surface maquis garrigues (m2)  =  1731
Autres surfaces naturelles hors forêt (m2)  =  480
Surfaces agricoles (m2)  =  19
Autres surfaces (m2)  =  6
Surface autres terres boisées (m2)  =  391
Surfaces non boisées naturelles (m2)  =  176
Surfaces non boisées artificialisées (m2)  =  132
Surfaces non boisées (m2)  =  631
Précision des surfaces  =  2
Surface de feu à l'arrivée des secours > 0,1 ha  =  1
Voie carrossable la plus proche  =  4
Activité ou habitation la plus proche  =  3
Type de peuplement  =  6
Connaissance  =  3
Source de l'enquête  =  8
Nature  =  5
Intervention de l'équipe RCCI  =  2
Décès ou bâtiments touchés  =  2
Nombre de décès  =  1
Nombre de bâtiments totalement détruits  =  3
Nombre de bâtiments partiellement détruits  =  2
Hygrométrie (%)  =  86
Vitesse moyenne du vent (Km/h)  =  87
Direction du vent  =  8
Température (°C)  =  54
Précision de la donnée  =  1
Présence d'un contour valide  =  2

In [15]:
df.count()

Année                                              46145
Numéro                                             46145
Département                                        46145
Code INSEE                                         46145
Nom de la commune                                  46118
Date de première alerte                            46145
Origine de l'alerte                                46145
Moyens de première intervention                    20460
Surface parcourue (m2)                             46145
Surface forêt (m2)                                 34459
Surface maquis garrigues (m2)                      16835
Autres surfaces naturelles hors forêt (m2)         17000
Surfaces agricoles (m2)                              119
Autres surfaces (m2)                                 108
Surface autres terres boisées (m2)                 16952
Surfaces non boisées naturelles (m2)               10416
Surfaces non boisées artificialisées (m2)          10149
Surfaces non boisées (m2)                          28495
Précision des surfaces                              9046
Surface de feu à l'arrivée des secours > 0,1 ha     6442
Voie carrossable la plus proche                    21225
Activité ou habitation la plus proche              20304
Type de peuplement                                 18959
Connaissance                                       24554
Source de l'enquête                                22964
Nature                                             23422
Intervention de l'équipe RCCI                      46145
Décès ou bâtiments touchés                         46145
Nombre de décès                                       70
Nombre de bâtiments totalement détruits               70
Nombre de bâtiments partiellement détruits            70
Hygrométrie (%)                                     1728
Vitesse moyenne du vent (Km/h)                      2115
Direction du vent                                   1988
Température (°C)                                    2038
Précision de la donnée                               690
Présence d'un contour valide                       46145
dtype: int64

In [16]:
df.mean(numeric_only = True)

Année                                               2014.308094
Numéro                                              6903.309394
Moyens de première intervention                        2.733529
Surface parcourue (m2)                             46788.349637
Surface forêt (m2)                                 33794.444209
Surface maquis garrigues (m2)                      28557.089100
Autres surfaces naturelles hors forêt (m2)         11203.531412
Surfaces agricoles (m2)                            21457.201681
Autres surfaces (m2)                                 225.555556
Surface autres terres boisées (m2)                  7794.323502
Surfaces non boisées naturelles (m2)                5707.277362
Surfaces non boisées artificialisées (m2)           2740.619371
Surfaces non boisées (m2)                           6379.251974
Surface de feu à l'arrivée des secours > 0,1 ha        1.000000
Voie carrossable la plus proche                        2.167868
Activité ou habitation la plus proche                  2.596286
Type de peuplement                                     2.031120
Nombre de décès                                        0.000000
Nombre de bâtiments totalement détruits                0.114286
Nombre de bâtiments partiellement détruits             0.028571
Hygrométrie (%)                                       44.903356
Vitesse moyenne du vent (Km/h)                        24.397163
Température (°C)                                      23.232581
dtype: float64

In [19]:
df.describe()

,Année,Numéro,Moyens de première intervention,Surface parcourue (m2),Surface forêt (m2),Surface maquis garrigues (m2),Autres surfaces naturelles hors forêt (m2),Surfaces agricoles (m2),Autres surfaces (m2),Surface autres terres boisées (m2),...,"Surface de feu à l'arrivée des secours > 0,1 ha",Voie carrossable la plus proche,Activité ou habitation la plus proche,Type de peuplement,Nombre de décès,Nombre de bâtiments totalement détruits,Nombre de bâtiments partiellement détruits,Hygrométrie (%),Vitesse moyenne du vent (Km/h),Température (°C)
count,46145.000000,46145.000000,20460.000000,4.614500e+04,3.445900e+04,1.683500e+04,1.700000e+04,119.000000,108.000000,1.695200e+04,...,6442.0,21225.000000,20304.000000,18959.000000,70.0,70.000000,70.000000,1728.000000,2115.000000,2038.000000
mean,2014.308094,6903.309394,2.733529,4.678835e+04,3.379444e+04,2.855709e+04,1.120353e+04,21457.201681,225.555556,7.794324e+03,...,1.0,2.167868,2.596286,2.031120,0.0,0.114286,0.028571,44.903356,24.397163,23.232581
std,5.110471,4785.327322,0.835897,9.363330e+05,9.797560e+05,3.384430e+05,1.228888e+05,89208.760262,1701.585480,8.041826e+04,...,0.0,1.088110,0.657973,1.462144,0.0,0.435486,0.167802,15.560496,21.225870,8.158101
min,2006.000000,1.000000,1.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,1.0,1.000000,1.000000,1.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000
25%,2010.000000,2958.000000,3.000000,2.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,1.0,1.000000,2.000000,1.000000,0.0,0.000000,0.000000,33.000000,10.000000,18.000000
50%,2015.000000,6608.000000,3.000000,1.403000e+03,1.000000e+02,1.000000e+02,0.000000e+00,0.000000,0.000000,0.000000e+00,...,1.0,2.000000,3.000000,1.000000,0.0,0.000000,0.000000,43.000000,20.000000,24.000000
75%,2019.000000,10129.000000,3.000000,1.000000e+04,3.000000e+03,4.000000e+03,6.000000e+02,0.000000,0.000000,5.000000e+02,...,1.0,3.000000,3.000000,3.000000,0.0,0.000000,0.000000,55.000000,34.000000,29.000000
max,2022.000000,23351.000000,6.000000,1.255200e+08,1.255200e+08,1.890000e+07,8.187317e+06,720800.000000,16960.000000,4.916000e+06,...,1.0,4.000000,3.000000,6.000000,0.0,3.000000,1.000000,99.000000,520.000000,68.000000

In [20]:
df.isnull().sum()

Année                                                  0
Numéro                                                 0
Département                                            0
Code INSEE                                             0
Nom de la commune                                     27
Date de première alerte                                0
Origine de l'alerte                                    0
Moyens de première intervention                    25685
Surface parcourue (m2)                                 0
Surface forêt (m2)                                 11686
Surface maquis garrigues (m2)                      29310
Autres surfaces naturelles hors forêt (m2)         29145
Surfaces agricoles (m2)                            46026
Autres surfaces (m2)                               46037
Surface autres terres boisées (m2)                 29193
Surfaces non boisées naturelles (m2)               35729
Surfaces non boisées artificialisées (m2)          35996
Surfaces non boisées (m2)                          17650
Précision des surfaces                             37099
Surface de feu à l'arrivée des secours > 0,1 ha    39703
Voie carrossable la plus proche                    24920
Activité ou habitation la plus proche              25841
Type de peuplement                                 27186
Connaissance                                       21591
Source de l'enquête                                23181
Nature                                             22723
Intervention de l'équipe RCCI                          0
Décès ou bâtiments touchés                             0
Nombre de décès                                    46075
Nombre de bâtiments totalement détruits            46075
Nombre de bâtiments partiellement détruits         46075
Hygrométrie (%)                                    44417
Vitesse moyenne du vent (Km/h)                     44030
Direction du vent                                  44157
Température (°C)                                   44107
Précision de la donnée                             45455
Présence d'un contour valide                           0
dtype: int64

In [23]:
df['Nombre de feu'] = 1
df.head()

,Année,Numéro,Département,Code INSEE,Nom de la commune,Date de première alerte,Origine de l'alerte,Moyens de première intervention,Surface parcourue (m2),Surface forêt (m2),...,Nombre de décès,Nombre de bâtiments totalement détruits,Nombre de bâtiments partiellement détruits,Hygrométrie (%),Vitesse moyenne du vent (Km/h),Direction du vent,Température (°C),Précision de la donnée,Présence d'un contour valide,Nombre de feu
0,2006,2,01,01148,Dortan,27/02/2006 13:56,Indéterminé,NaN,10000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,",1
1,2006,3,01,01321,Revonnas,15/03/2006 16:02,Indéterminé,NaN,10000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,",1
2,2006,4,01,01032,Béligneux,16/03/2006 17:03,Indéterminé,NaN,10000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,",1
3,2006,5,01,01109,Collonges,27/03/2006 14:30,Indéterminé,NaN,10000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,",1
4,2006,6,01,01384,Saint-Rambert-en-Bugey,24/04/2006 16:43,Indéterminé,NaN,20000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,",1

In [27]:
nbfeu_com = df.groupby('Nom de la commune').sum().loc[:,'Nombre de feu']
nbfeu_com.head()

Nom de la commune
Abeilhan                2
Abjat-sur-Bandiat       1
Aboncourt-Gesincourt    1
Abondance               2
Abondant                1
Name: Nombre de feu, dtype: int64

In [49]:
nbfeuparan = []
for i in range(2006, 2022) :
    nbfeu = df[df['Année'] == i].count().iloc[0]
    nbfeuparan.append(nbfeu)
    print(nbfeu,' en ',i) 

def calculate_mean(numbers):
    mean = sum(numbers) / len(numbers)
    return mean

calculate_mean(nbfeuparan)

3238  en  2006
2691  en  2007
1824  en  2008
3030  en  2009
2463  en  2010
2781  en  2011
2804  en  2012
1630  en  2013
1947  en  2014
2957  en  2015
2884  en  2016
3308  en  2017
1928  en  2018
2970  en  2019
2949  en  2020
2348  en  2021

2609.5

On trouve une moyenne de 2.6k feux par an entre 2006 et 2021, ce qui est bien loin des 3.5k feux par an trouvés dans la notice de Generali.

In [45]:
df[df['Année'] == 2022].count().iloc[0]

4393

On retrouve bien le bon nombre de feux en 2022.

On pose 1 terrain de foot = 7140 m^2

In [75]:
superficie = df.groupby('Année').sum().loc[:,'Surface parcourue (m2)']
superficie

Année
2006     70963499
2007     70587808
2008     47500391
2009    146455151
2010     94615186
2011     95161889
2012     76477606
2013     29931964
2014     49902943
2015     78770832
2016    143810774
2017    231760338
2018     40355587
2019    151900042
2020    112205984
2021    128504837
2022    590143563
Name: Surface parcourue (m2), dtype: int64

In [87]:
superficie06_21 = df[df['Année']<= 2021].groupby('Année').sum().loc[:,'Surface parcourue (m2)']
nbterrainfoot06_21 = superficie06_21.sum()/7140
((((nbterrainfoot06_21)/16)/365)/24)*2

3.135481880252101

On retrouve bien les 3 terrains de foot qui brulent toutes les deux heures.

In [83]:
nbterrainfoot_2022 = (superficie.iloc[-1])/(7140)
print(nbterrainfoot_2022)
(((nbterrainfoot_2022/365)/24)/60)*20

82653.16008403362

3.1450974156786007

On retrouve bien les 3 terrains de foot qui brulent toutes les 20 minutes.

In [89]:
def assign_value(x):
    if x < (1000*10000):
        return 0
    else:
        return 1


df['Mégafeux'] = df['Surface parcourue (m2)'].apply(assign_value)

,Année,Numéro,Département,Code INSEE,Nom de la commune,Date de première alerte,Origine de l'alerte,Moyens de première intervention,Surface parcourue (m2),Surface forêt (m2),...,Nombre de bâtiments totalement détruits,Nombre de bâtiments partiellement détruits,Hygrométrie (%),Vitesse moyenne du vent (Km/h),Direction du vent,Température (°C),Précision de la donnée,Présence d'un contour valide,Nombre de feu,Mégafeux
0,2006,2,01,01148,Dortan,27/02/2006 13:56,Indéterminé,NaN,10000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,",1,0
1,2006,3,01,01321,Revonnas,15/03/2006 16:02,Indéterminé,NaN,10000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,",1,0
2,2006,4,01,01032,Béligneux,16/03/2006 17:03,Indéterminé,NaN,10000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,",1,0
3,2006,5,01,01109,Collonges,27/03/2006 14:30,Indéterminé,NaN,10000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,",1,0
4,2006,6,01,01384,Saint-Rambert-en-Bugey,24/04/2006 16:43,Indéterminé,NaN,20000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Données partielles ou non valides,"Non,",1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46140,2022,23340,50,50041,La Hague,17/07/2022 23:55,Indéterminé,NaN,60000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Non,",1,0
46141,2022,23341,50,50616,Le Val-Saint-Père,24/07/2022 16:51,Indéterminé,NaN,20000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Non,",1,0
46142,2022,23343,50,50066,Jullouville,26/07/2022 20:25,Indéterminé,NaN,20000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Non,",1,0
46143,2022,23345,50,50570,Savigny-le-Vieux,05/08/2022 14:39,Indéterminé,NaN,35000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Non,",1,0
46144,2022,23351,50,50447,Saint-Aubin-des-Préaux,12/08/2022 15:35,Indéterminé,NaN,6000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Non,",1,0

In [99]:
mgfeux06_21 = df[df['Année']<= 2021].groupby('Année').sum().loc[:,'Mégafeux']
mgfeux06_21.sum()/16

1.3125

On retrouve donc là le mégafeux par an en moyen (1.3 pour être exact).

In [100]:
df.groupby('Année').sum().loc[:,'Mégafeux']

Année
2006     0
2007     0
2008     0
2009     4
2010     1
2011     1
2012     0
2013     0
2014     0
2015     0
2016     2
2017     7
2018     1
2019     3
2020     1
2021     1
2022    10
Name: Mégafeux, dtype: int64

On retrouve bien les 10 mégafeux en 2022.